@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sniglet:wght@400;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #222222;
    background-color: white;
    margin: 0;
}

/* Profile section */
.profile-section {
    background-color: #F5EBE0;
    min-height: 95vh;
}

.profile-title {
    font-family: 'Sniglet', sans-serif;
    font-size: 5rem;
    line-height: 1;
}

.profile-title-name {
    font-family: 'Sniglet', sans-serif;
    font-size: 7rem;
    color: #7634CC;
    line-height: 1;
}

.profile-subtitle {
    font-size: 2rem;
    color: #5B507A;
}

.profile-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #7634CC;
}

/* About section */
.about-section {
    background-color: #F5EBE0;
    min-height: 95vh;
}

.about-title {
    font-family: 'Sniglet', sans-serif;
    font-size: 4rem;
    color: #7634CC;
}

.about-card {
    background-color: white;
    border-radius: 25px;
}

.about-subtitle {
    font-size: 2rem;
    color: #5B507A;
}

.about-item {
    font-size: 1.75rem;
}

.about-icon {
    width: 55px;
    height: 55px;
    object-fit: contain;
}